<h1>Employee: <%= @employee.name %></h1>
<h2>Division: <%= @division.name %></h2>

<p><%= link_to "Edit employee", edit_division_employee_path(@division, @employee) %></p>
<p><%= link_to "Delete employee", division_employee_path(@division, @employee),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to division", division_path(@division) %></p>
